<footer class="border-t mt-5 py-6 px-3">
    <div class="grid grid-cols-2 lg:grid-cols-4">
        <div>
            <div class="font-bold">Important Links</div>
            <ul>
                <li>Home</li>
                <li>Create Poll</li>
                <li>View Demo</li>
                <li>Help</li>
            </ul>
        </div>
        <div>
            <div class="font-bold">Legal Issues</div>
            <ul>
                <li>Report misuse</li>
                <li>Privacy</li>
                <li>Terms</li>
                <li>Others</li>
            </ul>
        </div>
        <div>
            <div class="font-bold">Legal Issues</div>
            <ul>
                <li>Report misuse</li>
                <li>Privacy</li>
                <li>Terms</li>
                <li>Others</li>
            </ul>
        </div>
        <div>
            <div class="font-bold">Legal Issues</div>
            <ul>
                <li>Report misuse</li>
                <li>Privacy</li>
                <li>Terms</li>
                <li>Others</li>
            </ul>
        </div>
    </div>



    <div class="text-center mt-4 pt-4 border-t">
        &copy; 2023 - Kenpolls
    </div>
</footer>